/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	color: #3D3D3D;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

section {
	margin: 50px 0
}

section a {
	color: #3D3D3D;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav li img {
	width: 60%;
}

li a:hover {
	color: #B1663C;
}

li a, a {
	text-decoration: none;
	color: black;
}

main {
	width: 85%;
	margin: 0 auto;
}


#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 100%;
	margin-bottom: 10px;
}

#introduction article {
	flex: 1;
	padding-left: 80px;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.filtres {
	font-family: 'Syne';
	font-size: 16px;
	color: #1D6154;
	display: flex;
	justify-content: center;
	gap: 10px;
	margin: 0px 0 50px 0;	
}

.filtres li {
	border: 1px solid #1D6154;
	padding: 10px 20px 10px 20px;
	border-radius: 25px;
}

.filtres li:hover {
	color: white;
	background-color: #1D6154;
	cursor: pointer;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

#contact {
	width: 40%;
	margin: auto;
	margin-bottom: 50px;
}

#contact > * {
	text-align: center;

}

#contact h2{
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #ajout-photo, #login input {
	height: 40px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"], #ajout-photo {
	font-family: 'Syne';
	font-weight: 400;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
	border: none;
	height: 40px;
	font-size: 1.2em;
}

input[type="submit"]:hover, 
#ajout-photo:hover {
	background-color: #0E2F28;
}

#login {
	width: 40%;
	margin: auto;
}

#login > * {
	text-align: center;

}

#login h2{
	margin-top: 150px;
	margin-bottom: 20px;
}

#login-form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}


#login label {
	margin: 2em 0 1em 0;
}

#login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.login-form__email, .login-form__password, .login-form__submit {
	display: flex;
	flex-direction: column;
}

#error_msg {
	text-align: center;
	margin-bottom: 5px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
	height: 50px;
}

/* Login Barre */
.header-login {
	margin-top: 100px;
}

.login-barre {
	background-color: black;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	color: white;
}

.login-barre__publier {
	display: block;
	background-color: white;
	color: black;
	padding: 10px;
	border-radius: 25px;
	cursor: pointer;
}

.login-barre__edition {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 5px;
	background-color: black;
	border: 0;
	color: white;
	cursor: pointer;
}

.mes-projets {
	display: flex;
	justify-content: center;
	align-items: baseline;
	gap: 40px;
}

.mes-projets a, .mes-projets i {
	color: #3D3D3D;
}

/** Modale */

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-wrapper {
	overflow: auto;
	width: 700px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	border-radius: 10px;
}

.modal-wrapper h2 {
	text-align: center;
	font-family: 'Work Sans';
	color: black;
}

.modal-wrapper i {
	align-self: flex-end;
}

.modal-wrapper hr {
	width: 80%;
}

.projet-liste {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 12px;
	margin: 50px;
	width: 80%;
}

.projet-liste figure {
	position: relative;
}

.projet-liste img {
	width: 100px;
}

#ajout-photo {
	width: 300px;
	margin-bottom: 10px;
}

#supprimer-galerie {
	border: 0;
	background-color: white;
	font-family: 'Syne';
	color: #D65353;
	font-size: 16px;
	margin-bottom: 20px;
}

.fa-arrows-up-down-left-right {
	position: absolute;
	top:5px;
	right: 30px;
	color: white;
	background-color: black;
	padding: 4px;
	border-radius: 3px;
}

.fa-trash-can {
	position: absolute;
	top:5px;
	right: 5px;
	color: white;
	background-color: black;
	padding: 4px;
	border-radius: 3px;
}